@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-white bg-grid-glow bg-fixed;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0f;
}
::-webkit-scrollbar-thumb {
  background: #232330;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f2f40;
}

.text-gradient {
  @apply bg-gradient-to-r from-cyan to-purple bg-clip-text text-transparent;
}
